body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}

/** Start Heading Section */

.menu {
  margin: 0;
  padding: 15px 70px;
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
}
.menu > div {
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.navbar-home {
  display: flex;
  /* float: left; */
  align-items: center;
}
.web_name a {
  font-family: "Epilogue", sans-serif;
  font-size: 2rem;
  /* font-weight: 500; */
  text-align: center;
  line-height: 2;
  padding-left: 20px;
}
.navbar-home-icon {
  padding-right: 70px;
}
.nav-item {
  font-size: 22px;
  list-style-type: none;
  font-weight: bolder;
}
.iconfont-wrapper {
  padding: 15px;
  font-size: 25px;
  /* font-weight: bold; */
}

/** End Heading Section */

/** Section 2 Start */
.section_2 {
  display: flex;
}
.half-width {
  width: 50%;
  height: 615px;
}
.half-width img {
  width: 100%;
  height: 615px;
  object-fit: cover;
}
.half-width-bg {
  background-color: #ffff27;
}
.section_2 .half-width p {
  padding: 260px 40px 10px 40px;
  font-family: "Epilogue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

/** Section 2 End */
/** Section 3 Start */

.sec_3_heading {
  width: 70%;
  min-height: 300px;
  margin: 0px;
}
.sec_3_heading h1 {
  padding: 60px 30px 10px 60px;
  font-size: 6rem;
  line-height: 1.1;
}

/** Section 3 End */
/** section 4 Start */
.sec-4 {
  width: 100%;
  height: 765px;
  background-color: white;
  display: flex;
}
.sec-4 .half-width {
  height: 765px;
}
.overflow {
  overflow-y: scroll;
}
.overflow::-webkit-scrollbar {
  display: none;
}
.article {
  margin-top: 150px;
}
.topics {
  margin-left: 30px;
}
.topics h1 {
  color: black;
  width: 80%;
  font-family: "Epilogue", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
  border-top: 1px solid black;
}
.topics span a::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  padding-left: 200px;
}
.topics span > a {
  text-decoration: none;
}
.topics p {
  width: 80%;
  font-family: "Epilogue", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  padding: 20px 20px 20px 0px;
}
.article h5 {
  width: 80%;
  font-family: "Epilogue", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.article > h5 span::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  padding-left: 20px;
}

/** image part */
.sec-4 .half-width > img {
  height: 765px;
}
/** section 4 End */
