body{
    background-color: #F0F0F0;
    margin-top: 0px;
}
.menu{
    padding: 15px 80px;
    /* width: 100%; */
    /* height: 60px; */
}
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
}
a{
    text-decoration: none;
}
.navbar-home{
    display: flex;
    align-items: center;
}
.web_name a{
    font-family: 'Epilogue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}